<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages | UDO SANCTUS ACADEMY</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>UDO SANCTUS ACADEMY</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/admissions">Admissions</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>

    <main id="messages">
        <section>
            <h1>Submitted Applications</h1>
            {% if applications %}
            <table>
                <tr>
                    <th>ID</th>
                    <th>Student Name</th>
                    <th>Age</th>
                    <th>Grade</th>
                    <th>Guardian Contact </th>
                </tr>
                {% for application in applications %}
                <tr>
                    <td>{{ application[0] }}</td>
                    <td>{{ application[1] }}</td>
                    <td>{{ application[2] }}</td>
                    <td>{{ application[3] }}</td>
                    <td>{{ application[4] }}</td>
                </tr>b
                {% endfor %}
            </table>
            {% else %}
            <p>No applications yet.</p>
            {% endif %}
        </section>
    </main>

    <footer>
        <p>&copy; 2025 UDO SANCTUS ACADEMY. All rights reserved.</p>
    </footer>
</body>
</html>